<div class="page-container">

  <header>
    <h1> Editing Task </h1>
  </header>


  <%= render partial: "form", locals: { action_name: "Update task" }%>


  <footer>
    <p>
      Made with <ion-icon name="heart"></ion-icon> at Ada Developers Academy 2018
    </p>
    <a href="https://unsplash.com/@designedbyjess?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"><ion-icon name="camera"></ion-icon> Jess Waters on Unsplash</a>
  </footer>

</div>
