<h1>Katrina's Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <div class="list-container">
    <li>
      <%= task.action %>
    </li>
    <li>
      <%= task.description %>
    </li>
    <li>
      <%= task.completion_date %>
    </li>
  </div>

  <% end %>
</ul>
