<div class="page-container">

<h1>Task List</h1>

<section>
  Add Task
</section>

<ul>
  <% @tasks.each do |task| %>
  <div class="list-container">
    <li>
      <%= task.action %>
    </li>
    <li>
      <%= task.completion_date %>
    </li>
    <li>
      <%= link_to "Details", task_path(task.id) %>
    </li>
    <br />
  </div>
  <% end %>
</ul>

</div>


<footer>
  <p class="footer-text">
    copyright 2018
  </p>
</footer>
