
body {
  font-family: 'Caudex', serif;;
  background-color: rgb(240,203,200);
}

h1 {
  display: flex;
  justify-content: center;
}

ul li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
